/*==========  Desktop First  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px)
	/**/

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px)
	/**/

/* Small Devices, Tablets */
@media only screen and (max-width : 768px)
	.contacts-group
		font-size: 18px
	.logo
		font-size: 20px



/* Extra Small Devices, Phones */
@media only screen and (max-width : 540px)
	.logo
		display: none

	.contacts-group
		flex-wrap: wrap
		&__phone
			margin-top: 10px
			width: 100%
			height: 20px
			line-height: 20px
			text-align: center
		&__social
			width: 160px
			margin: 0 auto
			line-height: 20px
			height: 20px

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px)
	/**/

/*==========  Mobile First  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px)
	/**/


/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px)
	/**/


/* Small Devices, Tablets */
@media only screen and (min-width : 768px)
	/**/


/* Medium Devices, Desktops */
@media only screen and (min-width : 992px)
	/**/


/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px)
	/**/

