.wrapper
	display: flex
	width: 100%
	align-items: stretch
	overflow: hidden
	position: relative

#sidebar
	font-family: 'Montserrat', sans-serif
	z-index: 10
	min-width: 250px
	max-width: 250px
	background-color: white
	transition: all 0.3s

.s-shadow
	box-shadow: -5px 0px 35px 0px rgba(0,0,0,0.15)

.overlay
	display: none
	position: absolute
	top: 0
	bottom: 0
	left: 0
	right: 0
	z-index: 5
	opacity: 0

.overlay.active
	display: block
	opacity: 1

#sidebar.active
	margin-right: -250px


#sidebar .sidebar-header
	margin-top: 10px
	padding: 20px
	h4
		font-weight: 600


#sidebar ul p
	color: #fff
	padding: 10px


#sidebar ul li a
	padding: 10px 40px
	font-size: 1.1em
	display: block



#sidebar ul li 
	a:hover
		color: #005cbf
		cursor: pointer
		background-color: #fff
	.active
		color: #005cbf



a[data-toggle="collapse"]
	position: relative


.dropdown-toggle::after
	display: block
	position: absolute
	top: 50%
	right: 20px
	transform: translateY(-50%)


ul ul a
	font-size: 0.9em !important
	padding-left: 30px !important
	background: #6d7fcc


ul.CTAs
	padding: 20px


ul.CTAs a
	text-align: center
	font-size: 0.9em !important
	display: block
	border-radius: 5px
	margin-bottom: 5px


.phone-link, .cotia
	color: #ccc
	font-size: 25px


.phone-link
	margin-left: 20px
	text-transform: uppercase


a.download
	background: #fff
	color: #7386D5


a.article,
a.article:hover
	background: #6d7fcc !important
	color: #fff !important



.navbar
	margin-bottom: 0




#content
	width: 100%
	padding: 30px 20px
	min-height: calc(100vh - 160px)
	transition: all 0.3s
	color:  rgba(0,0,0,.74)

#sidebarCollapse
	display: none

@media only screen and (max-width : 960px)
	.contacts-group
		font-size: 20px

	#sidebar
		margin-left: -250px

	
	#sidebar.active
		margin-left: 0

	
	#sidebarCollapse span
		display: none
	

	#sidebarCollapse
		display: block
