section.section.section_backgr.section_backgr-about.darken
	.container
		.row.align-items-center
			.box.col-md-5
				h2.box__title Тут инфа о нас
				.box__content
					p.about-section__text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus incidunt sit laudantium vitae expedita, alias tenetur in iste optio culpa eveniet accusantium nobis eos suscipit cumque, maxime beatae temporibus. In amet, ducimus veritatis! Eum repellendus inventore vitae magni modi eaque!

			.col-md-6.ml-auto
				img.photo(src="/static/img/about.jpg")