section.form-section.section_gradient
	.container
		h2.form-section__title Как с нами связаться?
		.row.align-items-center
			.col-md-5
				p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero nobis quis pariatur ea soluta! Ullam labore rerum obcaecati ex, ipsa velit laudantium cupiditate voluptatibus qui cumque itaque numquam recusandae odio quaerat doloribus tempore laborum suscipit dolor et exercitationem? Ducimus in, velit dicta quia, amet accusamus quos laudantium quibusdam minus omnis est nisi nam vitae alias deleniti aspernatur repellendus numquam corporis!
				ul.cotial
					li.cotial__item
						a
							i.fab.fa-whatsapp
					li.cotial__item
						a
							i.fab.fa-vk
					li.cotial__item
						a
							i.fab.fa-telegram-plane
			.box.col-md-6.ml-auto
				H2.box__title Оставить заявку
				.box__content
					.callback-form
						p.callback-form__desc Оставьте заявку и мы перезвоним вам в течение 15 минут.
						.main-form-group
							input.main-form-group__input.main-form-group__input_transparent(placeholder="Ваше имя" type="text")
						.main-form-group
							input.main-form-group__input.main-form-group__input_transparent(placeholder="Ваше имя" type="text")
						.main-form-group
							input.main-form-group__input.main-form-group__input_transparent(placeholder="Ваше имя" type="text")
						.main-form-group
							input.button(type='submit' value="Отправить")