.container
	.row
		//- - var n = 0;
		//- while n++ < 3
		.col-sm-6.col-md-6.col-xl-4
			.card.product
				img.card-img-top(src="/static/img/product.jpg")
				.card-body
					h5.card-title Песок желтый
					p От 300 рублей
					<a href="#" class="card-link">Рассчитать</a>
					<a href="#" class="card-link">Подробнее</a>

		.col-sm-6.col-md-6.col-xl-4
			.card.product
				img.card-img-top(src="/static/img/product.jpg")
				.card-body
					h5.card-title Щебень гравийный
					p От 1400 рублей
					<a href="#" class="card-link">Рассчитать</a>
					<a href="#" class="card-link">Подробнее</a>