.container
	.row
		//- - var n = 0;
		//- while n++ < 3
		.col-sm-6.col-md-6.col-xl-4
			.card.product
				img.card-img-top(src="/static/img/product.jpg")
				.card-body
					h5.card-title Песок желтый
					p.card-text
						strong От 300
					<a href="#" class="btn btn-primary">Рассчитать стоимость с доставкой</a>

		.col-sm-6.col-md-6.col-xl-4
			.card.product
				img.card-img-top(src="/static/img/product.jpg")
				.card-body
					h5.card-title Щебень гравийный
					table.table
						tbody
							tr
								th(scope="row") 5/20
								td от 1700
								td В наличии
							tr
								th(scope="row") 20/40
								td от 1700
								td В наличии
							tr
								th(scope="row") 40/70
								td от 1700
								td Под заказ
					<a href="#" class="btn btn-primary">Рассчитать стоимость с доставкой</a>