.container
	.row
		.col-md-6

			<div class="fotorama" data-nav="thumbs">
				<img class="img-fluid" src="http://s.fotorama.io/1.jpg">
				<img class="img-fluid" src="http://s.fotorama.io/2.jpg">
			</div>

		.col-md-6
			h4.display-8 Щебень гравийный
			p.led  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi, distinctio illo praesentium eum quas, perspiciatis incidunt eius in tenetur sint assumenda repudiandae labore necessitatibus ducimus ipsam quasi, vitae laborum animi similique consequatur. Dolor beatae, praesentium! Quos ipsa laboriosam hic est?
			table.table
				thead
					tr
						th(scope="col") Фракция
						th(scope="col") Цена
						th(scope="col") Наличие
				tbody
					tr
						td 5/20
						td От 1400
						td В наличии
					tr
						td 20/40 
						td От 1400
						td В наличии
					tr
						td 40/70
						td От 1400
						td Под заказ
			<button type="button" class="btn btn-primary btn-lg btn-block">Расчитать стоимость с доставкой</button>
