section.footer-section.d-fex.align-items-center
	.row

		.footer-section__item-group.col-md-4
			p.footer-section__item molotkov.group@gmail.com

		.footer-section__item-group.col-md-4
			p.footer-section__item Грузоперевозки от Коляна
			p.footer-section__item 8 (916) 042 44-06

		.footer-section__item-group.col-md-4
			p.footer-section__item &copy; 2019 Ivan Molotkov