section.footer-section
	.container.footer-section__content

			p molotkov.group@gmail.com

			.footer-section__group
				p Грузоперевозки от Коляна
				p 8 (916) 042 44-06

			p &copy; 2019 Ivan Molotkov