header.site-header.darken

	.top-line

		.logo Тут будет лого

		nav.top-menu
			a.top-menu__list-item Услуги
			a.top-menu__list-item Контакты
			a.top-menu__list-item О нас

		.phone 8 (916) 042-44-06

	.headline
		.container
			h1.headline__title ДОставка сыпучих грузов
			p.headline__text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta iste nisi nemo vitae id, amet ullam qui corrupti pariatur labore, natus laudantium corporis facilis quia soluta consectetur culpa nobis! Ducimus quaerat aliquid, iusto mollitia! Eius esse, eos rerum nam temporibus.
			h4
				a.calc-href.button(href="#section-calc") Калькулятор цен