header.site-header

	.logo Грузоперевозки

	.site-header__contacts
		.contacts-group

			.contacts-group__phone
				a.phone(href="tel:+79160424406") 8 (916) 042-44-06
				
			.contacts-group__social
				ul.social
					li.social__item
						i.fab.fa-whatsapp
					li.social__item
						i.fab.fa-vk
					li.social__item
						i.fab.fa-telegram-plane
					li.social__item
						i.fab.fa-viber


		#sidebarCollapse.sidebar-button
			i.fas.fa-bars
