.container
	h1.display-4 Доставка сыпучих грузов 
	p.lead Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum ipsa aliquid sit quidem error, iusto, officia at sint dolorum, maiores vel expedita harum porro explicabo dolor aliquam, labore facilis magnam beatae doloribus perspiciatis eaque ducimus. Ut nesciunt suscipit omnis possimus.
	hr.my-4
	p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias vel sunt dolorum necessitatibus voluptatem, aperiam libero molestiae quidem quisquam iure nobis, ab ea maxime ad qui animi facere.
	p.lead
		<button class="btn btn-primary btn-sm" type="submit">Калькулятор цен</button>




